{% extends "base.html" %}

{% block head %}

{% endblock %}

{% block body %}
<form method="post" style="padding: 10%;">
  <h2 align="left">Add new Device</h2>
  <select class="form-select" style="float: inline-end;" aria-label="Default select example">
    <option selected>Device Type</option>
    <option value="linux">Linux</option>
    <option value="win32">Windows</option>
    <option value="cisco">Cisco</option>
  </select>
  <div class="form-group">
    <label for="DNSname">DNS name</label>
    <input
      type="DNSname"
      class="form-control"
      id="DNSname"
      name="DNSname"
      placeholder="DNS name"
    />
  </div>
  <div class="form-group">
    <label for="IPaddress">IP address</label>
    <input
      type="IPaddress"
      class="form-control"
      id="IPaddress"
      name="IPaddress"
      placeholder="IP address"
    />
  </div>
  <div class="form-group">
    <label for="Username">User Name</label>
    <input
      type="Username"
      class="form-control"
      id="Username"
      name="Username"
      placeholder="Username"
    />
  </div>
  <div class="form-group">
    <label for="password1">Password</label>
    <input
      type="password1"
      class="form-control"
      id="password1"
      name="password1"
      placeholder="Enter Password"
    />
  </div>
  <div class="form-group">
    <label for="password2">Confirm Password</label>
    <input
      type="password2"
      class="form-control"
      id="password2"
      name="password2"
      placeholder="Confirm Password"
    />
  </div>  
  <button type="submit" class="btn btn-success text-dark" style="margin-top: 10%;">Add</button>

</form>

{%endblock%}