{% extends "base.html" %}

{% block head %}

{% endblock %}

{% block body %}

<div class="p-5 container-fluid">
  <div class="d-flex justify-content-between align-items-center">
    <h1>My Devices</h1>
    <a class="btn btn-success" " href="/add/device">Add</a>
  </div>

  <hr>
  
{% for device,instance in lab.DeviceInstances.items() %}
  <a style="text-decoration:none;color: white;" href="/devices/{{device}}">
    <div style="background-color: #173057!important;" >
      <h2 style="padding-left: 3%; padding: 10px; ">{{device.capitalize()}}</h2>
    </div>
  </a>

  <hr>
  <table class="table table-hover table-boardered">
        <tr>
          {%set tempdict = instance.__info__()%}
          {% for key,val in tempdict.items() %}
            <td>{{ key }}</td>
                {% if val is mapping %}
                {% set temp = [] %}
                  {% for Key in val %}
                  {% set _ = temp.append(Key) %}
                {% endfor %}
                <td>{{temp| join(', ')}}</td>
                {% else %}
            <td>{{ val }}</td>
            {% endif %}
        </tr>
    {% endfor %}
  </table>
  {% endfor %}
</div>

{% endblock %}
