{% extends "base.html" %}

{% block head %}

{% endblock %}

{% block body %}

<div class="p-5">


  <div class="container-fluid">

     <div class=" d-flex align-items-center justify-content-between rounded " id="pageheader">
      <h2 style="padding-left: 3%; padding: 10px; ">My Lab</h2>
      <div class="d-flex justify-content-end">
        <div class="col p-2 m-2 rounded" style="background-color: #0e1d48;">
          <div class="d-flex justify-content-end" >
            <h4 style="padding-right: 12px;">System Uptime:</h4>
            <h4 ID="uptime"style="S">  {{lab.uptime()}}</h4>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class=" col-lg-6 col-xxl-4">
      {% if lab.DeviceInstances.items()|length < 1 %}
      <div class="rounded p-1" style="background-color: #D9C580 ; margin-bottom: 1rem;">
        <div style="background-color: #173057;" class=" p-2 rounded m-1">
          <div class=" d-flex align-items-center justify-content-between rounded mx-0" id="pageheader">
            <h2 style="margin-left: 1rem; margin: auto;">No Devices</h2>
            <div class="d-flex justify-content-end align-items-center">           
              <a class="btn btn-primary m-1" href="/add/device" style="margin-right: 1rem;">Click to ADD Devices</a>
            </div>
          </div>
        </div>
      </div>
      {% else %}
      {% for device,instance in lab.DeviceInstances.items() %}
      <div class="rounded p-1" style="background-color: #D9C580 ; margin-bottom: 1rem;">
        <div style="background-color: #173057;" class=" p-2 rounded ">
          <div class=" d-flex align-items-center justify-content-between rounded mx-0" id="pageheader">
            <h2 style="margin-left: 1rem; margin: auto;">{{device.capitalize()}}</h2>
            <div class="d-flex justify-content-end align-items-center">           
              <a class="btn btn-primary m-1" href="/device/{{device}}" style="margin-right: 1rem;">More Info</a>
            </div>
          </div>
        
  
  
    <div class=" d-flex align-items-center justify-content-between rounded ">
        <div class="card w-100">
          <div class="card-header display-7" >
            Current status
          </div>
          <ul class="list-group list-group-flush">
            {% for Item,val in instance.__status__().items() %}
            <li class="list-group-item  d-flex align-items-center justify-content-between " >
              <h5>{{Item.capitalize()|replace("_", " ")}}</h5>
              <h5>{{val|replace("_", " ")}}</h5>
            </li>
            {%endfor%}
          </ul>
        </div>
      </div>
    </div>
  </div>
    {% endfor %}
 
    {%endif%}
  </div>


  
  
    <div class="col-xxl-8 col-lg-6">
      <div class="rounded p-1" style="background-color: #D9C580 ;">
        <div class="rounded p-2" style="background-color: #173057 ;">
          <div class="d-flex align-items-center justify-content-between rounded m-1" style="background-color: #548DBF!important;">
            <h2 style="padding-left: 3%; padding: 10px; ">
              Host System Info
            </h2>
          </div>
          <hr>
          {%set tempdict = lab.host_info() %}
          {% if tempdict|length < 1 %}
          <h3 style="padding-left: 3%; padding: 10px; ">No commands run</h3>
          {% else %}
          <div class="table-responsive">
          <table class="table table-hover table-boardered">
            
            <tbody style="background-color: #5c5c5c;">
              {% for key,val in tempdict.items() %}
                <tr>

                    <td style="background-color: #1d1c1c;">{{key}}</td>

                    <td style="background-color: #1d1c1c;">{{val}}</td>
                  
                </tr>
              {%endfor%}
            </tbody>
            
          </table>
          
          {%endif%}
        </div>
          <div class="d-flex align-items-center justify-content-between rounded  m-1 " style="background-color: #548DBF!important;">
            <h2 style="padding-left: 3%; padding: 10px; ">
              Last run commands
            </h2>
          </div>
          <hr>
          {%set tempdict = lab.last_run_command%}
          {% if tempdict|length < 1 %}
          <h3 style="padding-left: 3%; padding: 10px; ">No commands run</h3>
          {% else %}
          <div class="table-responsive">
          <table class="table table-hover table-boardered">
            
            <tbody style="background-color: #5c5c5c;">
              {% for key,val in tempdict.items() %}
                <tr>

                    <td style="background-color: #1d1c1c;">{{key}}</td>
                    {% for item in val%}
                    <td style="background-color: #1d1c1c;">{{item}}</td>
                    {%endfor%}
                  
                </tr>
              {%endfor%}
            </tbody>
            
          </table>
          
          {%endif%}
        </div>
      </div>
      </div>
    </div>  
  </div>
</div>
</div>

{% endblock %}

